{% extends "base_login.html" %}
{% block content %}
<div class="auth-container">
  <div class="row">
    <div class="col-md-5">
      <div class="auth-box">
        <h3><i class="fas fa-sign-in-alt"></i> Login</h3>
        <form action="{{ url_for('login') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Enter username") }}
            {% for error in form.username.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Enter password") }}
            {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>

    <div class="col-md-2">
      <div id="divider">
        <span id="orText">or</span>
      </div>
    </div>

    <div class="col-md-5">
      <div class="auth-box">
        <h3><i class="fas fa-user-plus"></i> Register</h3>
        <form action="{{ url_for('register') }}" method="POST">
          {{ register_form.hidden_tag() }}
          <div class="form-group">
            {{ register_form.username.label }}
            {{ register_form.username(class="form-control", placeholder="Choose username") }}
            {% for error in register_form.username.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ register_form.password.label }}
            {{ register_form.password(class="form-control", placeholder="Choose password") }}
            {% for error in register_form.password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            {{ register_form.confirm_password.label }}
            {{ register_form.confirm_password(class="form-control", placeholder="Confirm password") }}
            {% for error in register_form.confirm_password.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
          </div>
          {{ register_form.submit(class="btn btn-success") }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}